/*reset Rules*/
* {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.container {
    border: outset;
    margin: 5% 10%;
    box-shadow: 5px 6px #888888 ;
}

.upperdiv {
    display: flex;
    border-bottom: groove;
    justify-content: space-between;
}

.checkout {
    width: 10%;
    padding: 10px;
}

.options {
    width: 60%;
    padding: 10px;
    display: flex;
}

.option {
    padding-right: 10px;
}


.option::after {
    content: " / ";
}
.option:last-child::after {
    content: "";
}

.lowerdiv {
    display: flex;
}

.cardsection {
    padding: 10px;
    width: 60%;
}

.wallet {
    border-bottom: groove;
    font-size: 5mm;
    color: lightgrey;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.image img{
    width: 90%;
}
.image img:hover {
    background-color: wheat;
    padding: 5px 5px;
    border-radius: 8px;
}

.newcard {
    border-bottom: groove;
    font-size: 5mm;
    color: lightgrey;
}

.inputblock {
    text-align: center;
    margin-top: 10px;
    
}

.inputinfo input {
    height: 10mm;
    width: 10cm;
    padding-left: 10px;
    border: groove;
    border-bottom: 0;
    border-radius: 2px;
}

.inputinfo_flex {
    display: flex;
    padding: 0mm 4.4cm;
}

.inputinfo_date input{
    width: 4.84cm;
    height: 10mm;
    padding-left: 10px;
    border: groove;
    border-radius: 2px;
}
.inputinfo_cvv input {
    width: 4.84cm;
    height: 10mm;
    padding-left: 10px;
    border: groove;
    border-left: 0;
    border-radius: 2px;
}

.closebutton {
    position: relative;
    padding: 5px;
}
.closebutton:hover {
    background-color: lightgray;
    border: outset;
}
.continuebutton {
    text-align: center;
    background-color:  lightgreen;
    border-radius: 4px;
    border: 2px solid lightgreen;
    width: 10.2cm;
    height: 10mm;
    margin: 20px 4.4cm;
}

.continuebutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: green;
}

.continue {
    font-size: 20px;
    padding: 10px;
    color: white;
}

.cart {
    width: 40%;
    background-color: lightgrey;
}

.products {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    border-bottom: groove;
}

.info img {
    width: 11mm;
    height: 11mm;
    border: 5px solid gray;
}

.info {
    display: flex;
}

.details a {
    font-size: 10px;
    padding-left: 10px;
}

.details h5 {
    font-size: 12px;
    padding-left: 10px;
}

.price a {
    font-size: 12px;
}

.lowercart {
    margin-top: 4cm;
}
.billingdetails {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 5px;
}

.category {
    flex: 5;
    font-size: 12px;
}
.amount {
    flex: 1;
    font-size: 12px;
    padding-left: 5cm;
}

.total {
    border-top: groove;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 5px;
}